* {
    margin: 0px;
}
body {
    background-color: #290059 ;
}
h1, h2, h3{
    color: white;
    font-family: 'Montserrat', sans-serif;
}
main {
    margin-top: 120px;
    margin-bottom: 50px;
    text-align: center;
    color: white ;
}
main h1 {
    font-size: 70px;
    font-weight: 520;

}
main h3{
    margin-top: 15px;
    letter-spacing: 2px;
    font-size: 25px;
    font-weight: 300;
}

section {
    margin: auto;
    display: flex;
    justify-content: space-between;
    width: 900px; 
    height: 400px;
}

article {
    background-color: white;
    width: 300px;
    height: 430px;
    border-radius: 30px;
}

article div{
    margin-top: 25px;
    text-align: center;
    border: solid white;
}
section article:nth-child(1){
    margin-left: 120px;
}

section article:nth-child(2){
    margin-right: 120px;
}
hr {
    margin-left: 45px;
    margin-right: 45px;
    font-weight: bold;
    margin-bottom: 30px;
}
article div div h1{
    font-size: 38px;
    color: #290059;
    font-family: 'Montserrat', sans-serif;

}

article div div h2{
    font-size: 38px;
    margin-top: 5px;
    color: #290059;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;

}

article div h2{
    margin-bottom: 15px;
    font-size: 23px;
    color: rgb(66, 66, 66);
    font-family: 'Montserrat', sans-serif;
}

article div h1 {
    color: white;
}


.button-plan {
    background-color: #004AAD;
    height: 50px;
    display:flex ;
    justify-content: center;
    align-items: center;
    margin: 0px 30px 0 30px;
    border-radius: 8px;
    font-size: 20px;
    border: solid #004AAD;
}

.button-plan h1{
    font-weight: 430;
}

footer{
    height: 400px;

}